.flex{
    display: flex;
    gap: var(--gap);
}

.flex-col {flex-direction: column;}

.flex-center-y{
    align-items: center;
}

.flex-center-x{
    justify-content: center;
}

.flex-between{justify-content: space-between;}

.flex-1{flex: 1;}

.flex-end-x{
    justify-content: flex-end;
}