.cities{
    gap: 12px;
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
}

.cities .city{
    background-color: var(--color-dark--2);
    padding: 10px 18px;
    border-radius: 8px;
    border-inline-start: 5px solid var(--color-brand--2);
}

.cities .city p:first-of-type {
    font-size: 1.8rem;
    font-weight: 600;
}

.cities .city-name{
    max-width: 140px;
    
    display: -webkit-box; /* Enable WebKit box model */
    -webkit-box-orient: vertical; /* Set the box layout direction to vertical */
    -webkit-line-clamp: 2; /* Limit the text to 3 lines */
    overflow: hidden; /* Hide the overflowing content */
    text-overflow: ellipsis; /* Add an ellipsis (...) after the truncated text */
    white-space: normal; 

}

.cities .active{
    border: 3px solid var(--color-brand--2);
}

.cities .date{
    display: flex;
    justify-content: flex-end;
}

.cities .emoji{
    font-size: 2.4rem;
    margin-inline-end: 8px;
}

.cities button{
    background-color: var(--color-dark--0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-weight: bold;
    margin-inline-start: 12px;
    transition: .2s;
}

.cities button:hover{
    background-color: var(--color-brand--1); 
    color:  var(--color-dark--0);   
} 

@media(max-width: 992px){
    .cities .city p, .cities .city p:first-of-type{
        font-size: 1.4rem;
    }

    .cities {
        width: 95%;
        justify-content: flex-start;
    }
}