.countries{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    overflow-y: auto;
}

.countries .country{
    background-color: var(--color-dark--2);
    padding-block: 5px;
    border-radius: 8px;
    border-inline-start: 5px solid var(--color-brand--1);
    gap: 0;
}

.countries .emoji{
    font-size: 3rem;
}

.countries .country-name{
    font-size: 1.4rem;
    font-weight: 600;
}