.map{
    
}

:global(.leaflet-container){
    height: 100%;
}

:global(.leaflet-popup-content-wrapper){
    background-color: var(--color-dark--0);
    border-inline-start: 5px solid var(--color-brand--2);
    border-radius: 4px;
}

:global(.leaflet-popup-content){
    margin: 8px 24px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 8px;
}

.map .emoji{
    font-size: 2.4rem;
}