.nav{
height: 60px;
}


.nav ul{
    flex-basis: 300px;
}

.nav li{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    font-variant: small-caps;
}

.nav .active{
    color: var(--color-brand--2);
}
