@import url(./globalStyle/flex.css);

:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;
    --color-dark--0: #242a2e;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: #d6dee0;

    --gap: 4px;
    --padding-box: 30px 50px;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{list-style: none;}

a{
    text-decoration: none;
    color: inherit;
}

a.active:active, a.active:visited{
    color: var(--color-brand--2);
}

button{
    background: none;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope, sans-serif;
    font-size: 1.6rem;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
}

#root{
    height: 95vh;
    width: 95vw;
}